@model BikesShop.Models.ViewModels.RegisterViewModel 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Register</h1>
<form asp-action="Register" asp-controller="Account" asp-antiforgery="true" class="form-group">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            @Html.LabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName, new { @class = "input-group" })
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>
        
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "input-group" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "input-group" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div>
            @Html.LabelFor(x => x.ConfirmPassword)
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "input-group mb-3" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>